In [202]:
import pandas as pd

sleep = pd.read_csv("Sleep_health_and_lifestyle_dataset.csv")

sleep.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [203]:
sleep['Gender'] = pd.get_dummies(sleep['Gender'], drop_first=True)

In [204]:
sleep.head()           # Gender --> 1: 남자,  0: 여자

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,1,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
1,2,1,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
2,3,1,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
3,4,1,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,1,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [205]:
sleep['BMI Category'].unique()

array(['Overweight', 'Normal', 'Obese', 'Normal Weight'], dtype=object)

In [206]:
for i in range(len(sleep['BMI Category'])):
    if sleep['BMI Category'][i] == 'Overweight':
        sleep['BMI Category'][i] = 0
    elif sleep['BMI Category'][i] == 'Normal':
        sleep['BMI Category'][i] = 1
    elif sleep['BMI Category'][i] == 'Obese':
        sleep['BMI Category'][i] = 2
    elif sleep['BMI Category'][i] == 'Normal Weight':
        sleep['BMI Category'][i] = 3

C:\Users\denni\AppData\Local\Temp\ipykernel_20220\695809545.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sleep['BMI Category'][i] = 0
C:\Users\denni\AppData\Local\Temp\ipykernel_20220\695809545.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sleep['BMI Category'][i] = 1
C:\Users\denni\AppData\Local\Temp\ipykernel_20220\695809545.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sleep['BMI Category'][i] = 2
C:\Users\denni\AppData\Local\Temp\ipykernel_20220\695809545.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sleep['BMI Category'][i] = 3

In [207]:
sleep['BMI Category'] = sleep['BMI Category'].astype('int')

In [208]:
sleep.describe()

,Person ID,Gender,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,187.500000,0.505348,42.184492,7.132086,7.312834,59.171123,5.385027,0.743316,70.165775,6816.844920
std,108.108742,0.500641,8.673133,0.795657,1.196956,20.830804,1.774526,0.763368,4.135676,1617.915679
min,1.000000,0.000000,27.000000,5.800000,4.000000,30.000000,3.000000,0.000000,65.000000,3000.000000
25%,94.250000,0.000000,35.250000,6.400000,6.000000,45.000000,4.000000,0.000000,68.000000,5600.000000
50%,187.500000,1.000000,43.000000,7.200000,7.000000,60.000000,5.000000,1.000000,70.000000,7000.000000
75%,280.750000,1.000000,50.000000,7.800000,8.000000,75.000000,7.000000,1.000000,72.000000,8000.000000
max,374.000000,1.000000,59.000000,8.500000,9.000000,90.000000,8.000000,3.000000,86.000000,10000.000000

In [209]:
for i in range(len(sleep['Blood Pressure'])):
    sleep['Blood Pressure'][i] = sleep['Blood Pressure'][i].split('/')[0]

C:\Users\denni\AppData\Local\Temp\ipykernel_20220\2730099940.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sleep['Blood Pressure'][i] = sleep['Blood Pressure'][i].split('/')[0]

In [210]:
sleep['Blood Pressure'] = sleep['Blood Pressure'].astype('int')

In [211]:
sleep.describe()

,Person ID,Gender,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,187.500000,0.505348,42.184492,7.132086,7.312834,59.171123,5.385027,0.743316,128.553476,70.165775,6816.844920
std,108.108742,0.500641,8.673133,0.795657,1.196956,20.830804,1.774526,0.763368,7.748118,4.135676,1617.915679
min,1.000000,0.000000,27.000000,5.800000,4.000000,30.000000,3.000000,0.000000,115.000000,65.000000,3000.000000
25%,94.250000,0.000000,35.250000,6.400000,6.000000,45.000000,4.000000,0.000000,125.000000,68.000000,5600.000000
50%,187.500000,1.000000,43.000000,7.200000,7.000000,60.000000,5.000000,1.000000,130.000000,70.000000,7000.000000
75%,280.750000,1.000000,50.000000,7.800000,8.000000,75.000000,7.000000,1.000000,135.000000,72.000000,8000.000000
max,374.000000,1.000000,59.000000,8.500000,9.000000,90.000000,8.000000,3.000000,142.000000,86.000000,10000.000000

In [220]:
from sklearn.model_selection import train_test_split

X = sleep[['Gender', 'Age', 'Sleep Duration', 'Quality of Sleep', 'Physical Activity Level', 
           'Stress Level', 'BMI Category', 'Blood Pressure', 'Heart Rate', 'Daily Steps']].to_numpy()
y = sleep['Sleep Disorder']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [217]:
X_train.shape, X_test.shape

((299, 10), (75, 10))

In [218]:
y_train.shape, y_test.shape

((299,), (75,))

<hr>

## 선형회귀

In [227]:
X_train.shape

(299, 10)

In [228]:
y_train.shape

(299,)

In [222]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)

ValueError: could not convert string to float: 'Insomnia'

## 로지스틱 회귀 ( Scale X )

In [223]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X_train, y_train)

print(lr.score(X_train, y_train))
print(lr.score(X_test, y_test))

0.7926421404682275
0.76

C:\Users\denni\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

## 로지스틱 회귀 ( Scale O )

In [224]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
ss.fit(X_train)

X_train_scaled = ss.transform(X_train)
X_test_scaled = ss.transform(X_test)

In [225]:
X_train_scaled

array([[ 1.04446594,  0.05581074, -0.83345749, ...,  0.18691751,
         0.48108094, -0.55464259],
       [ 1.04446594, -1.11114118, -1.4685334 , ..., -0.4481772 ,
         0.48108094, -1.18044687],
       [ 1.04446594, -0.87775079,  0.43669434, ..., -1.08327192,
        -0.01407638,  0.69696597],
       ...,
       [-0.95742711,  0.7559819 , -1.34151822, ...,  1.45710693,
         1.22381692,  1.94857454],
       [-0.95742711,  1.68954343,  1.32580062, ...,  1.45710693,
        -0.5092337 ,  0.07116169],
       [-0.95742711, -0.7610556 ,  0.05564879, ..., -1.71836663,
        -0.5092337 ,  0.07116169]])

In [226]:
from sklearn.linear_model import LogisticRegression

lr2 = LogisticRegression()
lr2.fit(X_train_scaled, y_train)

print(lr2.score(X_train_scaled, y_train))
print(lr2.score(X_test_scaled, y_test))

0.9163879598662207
0.9066666666666666